{% load static%}
<!DOCTYPE html>
<html>
	<head>
		<style>
body{
    margin-top:20px;
    background-color: #f1f3f7;
}
.card {
    margin-bottom: 24px;
    -webkit-box-shadow: 0 2px 3px #e4e8f0;
    box-shadow: 0 2px 3px #e4e8f0;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff0f2;
    border-radius: 1rem;
}

.font-size-18 {
    font-size: 18px!important;
}

a {
    text-decoration: none!important;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #7f838b!important;
}

.font-size-20 {
    font-size: 20px!important;
}

.font-size-15 {
    font-size: 15px!important;
}
		</style>
	</head>
	<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<div class="container">

    </div>
   
	</body>
      <script>
	  </script>
</html>
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'admin1/img/logo/logo.png' %}" rel="icon">
  <title>PETNOOKAdmin - Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link href="{% static 'admin1/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'admin1/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'admin1/css/ruang-admin.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
</head>

<body id="page-top">
  <div id="wrapper" >
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" style="background-color:#419e5b" href="index.html">
        <div class="sidebar-brand-icon">
          <span class="flaticon-pawprint-1 mr-2"></span>
        </div>
        <div class="sidebar-brand-text mx-3 " >PETNOOK</div>
        
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'indexadmin' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
     
    
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Actions
      </div>
      
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'category_management' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Category Management</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_product' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Add Product</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewproduct' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Product Management</span>
        </a>
      </li>
      <hr class="sidebar-divider">
    
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top bg-success">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search" >
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #66e684;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" style="background-color:#419e5b">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
           
            
           
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-person-check-fill"></i>
                <span class="ml-2 d-none d-lg-inline text-white small">Admin</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal" >
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" ></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        
        {% for display in display %}
            <div class="row m-3" >
             
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="table-responsive px-3">
                                        <table class="table table-striped align-middle table-nowrap">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="avatar-lg me-4">
                                                            <img src="{{display.image2.url}}" class="img-fluid rounded" alt="">
                                                        </div>
                                                    </td>
            
                                                    <td>
                                                        <div>
                                                            <h5 class="font-size-18"><a href="ecommerce-product-detail.html" class="text-dark"><b>{{ display.name }}</b></a></h5>
                                                            <p class="font-size-18"><a href="ecommerce-product-detail.html" class="text-dark">{{ display.brand_name }}</a></p>
                                                        </div>
                                                    </td>
            
                                                    <td>
                                                        {{ display.description }}
                                                    </td>
            
            
                                                    <td style="width: 220px;">
                                                        <h3 class="mb-0 font-size-20"><span class="text-muted me-2"><b> ₹ {{ display.price }}</b></h3>
                                                    </td>
            
                                   
            
                                                    <td>
                                                        <div class="dropdown float-end">
                                                            <a class="text-muted dropdown-toggle font-size-20" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                                                <i class="bx bx-dots-horizontal-rounded"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="{% url 'updateproduct' display.id %}">Update</a>
                                                               
                                                                <a class="dropdown-item" href="{% url 'deleteproduct' display.id %}">Remove</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
            
            
                                             
            
                                          
            
            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                {%endfor%}
               
            
        <!---Container Fluid-->
      </div>
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{% static 'admin1/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'admin1/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin1/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'admin1/js/ruang-admin.min.js' %}"></script>
  <script src="{% static 'admin1/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'admin1/js/demo/chart-area-demo.js' %}"></script>  
</body>

</html>